rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /students/{studentId} {
      allow read, write: if true;
    }
    match /parents/{parentId} {
      allow read, write: if true;
    }
    match /app_settings/{settingId} {
      allow read, write: if true;
    }
  }
}
